/* footer */
@import "../utils/variables";

.information{
    display: flex;
    .contact-sign{
        max-width: 15%;
        .mobile-contact-sign{
            display: none;
        }
        img{
            width: 100%;
        }
    }
    h3{
        font-family: 'drifttypesolid';
        color: $darkbrown;
        margin: 2% 0;
        text-align: center;
    }
    .contact-form{
        width: 80%;
        margin: 2% auto;
    }
    .contact{
        margin: 2% auto;
    }
}
.social-medias{
    display: flex;
    justify-content: center;
    a{
        margin: 2%;
        img{
            width: auto;
            max-height: 50px;
        }
    }
}
.footer{
    hr{
        border: solid 1.5px;
        background-color: $darkbrown;
        border-color: $darkbrown;
    }
    p{
        color: $darkbrown;
        font-family: 'drifttypesolid';
    }
}