@import "../base/typo";

/*header*/
header{
    height: 100vh;
    nav{
        width: 80%;
        margin: auto;
        ul{
            font-family: 'alphawoodregular';
            font-size: 2rem;
            text-decoration: none;
            list-style: none;
            display: flex;
            justify-content: space-around;
            a{
                color: #C9A581;;
            }
        }       
    }
}
  