@import "../base/typo";
@import "../utils/variables";

/*header*/
header{
    height: 100vh;
    nav{
        width: 80%;
        margin: auto;
        ul{
            font-family: 'alphawoodregular';
            font-size: 30px;
            text-decoration: none;
            list-style: none;
            display: flex;
            justify-content: space-around;
            a{
                color: #C3A686;
                &:hover{
                    color: $darkbrown;
                }
            }
        }       
    }
    .home{
        display: flex;
        align-items: center;
        margin: 10% auto;
        .section-sign{
            max-width: 15%;
            img{
                width: 100%;
            }
        }
    }
}
  