/*header*/
header{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url('images/header-bis.jpg');
    background-size: cover;
    background-attachment: fixed;
    .header-bg{
        height: 100vh;
        width: 100%;
        object-fit: cover;
    }
}
  