/* index */

.projects{
    display: flex;
    .project-sign{
        max-width: 15%;
        img{
            width: 100%;
        }
    }
    .row{
        margin-right: none;
        margin-left: none;
    }
    .project-cards{
        .col{
            padding: 5%;
            .card{
                border: none;
            }
        }
    }
}
.myself{
    .self-sign{
        max-width: 15%;
        img{
            width: 100%;
        }
    }
}