/* index */
@import "../utils/variables";

.projects{
    display: flex;
    .project-sign{
        max-width: 15%;
        img{
            width: 100%;
        }
    }
    .mobile-project-sign{
        display: none;
    }
    .project-cards{
        margin-right: 0!important;
        margin-left: 0!important;
    }
    .project-cards{
        .col{
            padding: 5%;
            .card{
                border: none;
                &:hover .card-overlay {
                    opacity: 1;
                  }
                a{
                .card-overlay{
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 100%;
                    width: 100%;
                    opacity: 0;
                    transition: .5s ease;
                    background-color: $brown;
                }
                .card-overlay-text{
                    color: $darkbrown;
                    font-family: 'abril_fatfaceregular';
                    font-size: 20px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    width: 100%;
                    padding: 3%;
                }
            }
        }
        }
    }
}
.myself{
    display: flex;
    .mobile-myself-sign{
        display: none;
    }
    .self-sign{
        max-width: 15%;
        img{
            width: 100%;
        }
    }
    .presentation{
        display: flex;
        justify-content: space-around;
        margin-right: 0!important;
        margin-left: 0!important;
        .text{
            width: 45%;
            display: flex;
            align-items: center;
            p{
                font-family: 'abril_fatfaceregular';
                color: $darkbrown;
            }
        }
        .portrait{
            width: 30%;
            img{
                width: 100%;
            }
        }       
    }
}
.parcours{
    .parcours-sign{
        margin: auto;
        width: 20%;
        img{
            width: 100%;
        }
    }
    .dates{
        width: 59%;
        margin: 5% auto 0 28%;
        display: flex;
        img{
            width: 100%;
        }
    }
}
.technologies{
    .techno-sign{
       margin: auto;
        width: 20%;
        img{
            width: 100%;
        }
    }
    .techno-details{
        width: 50%;
        margin: 5% 15% 0 auto;
        img{
            width: 100%;
        }
    }    
}