body{
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    height: 100%;
    h1{
        font-family: 'drifttyperegular';
        color: #DFD3C3;
        .headline{
            margin-left: 10%;
        }
    }
}
