@font-face {
    font-family: 'drifttypesolid';
    src: url('../fonts/drifttype_solid-webfont.woff2') format('woff2'),
         url('../fonts/drifttype_solid-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'drifttyperegular';
    src: url('../fonts/drifttype-webfont.woff2') format('woff2'),
         url('../fonts/drifttype-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'alphawoodregular';
    src: url('../fonts/alphawood-webfont.woff2') format('woff2'),
         url('../fonts/alphawood-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'abril_fatfaceregular';
    src: url('../fonts/abrilfatface-regular-webfont.woff2') format('woff2'),
         url('../fonts/abrilfatface-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}