body {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  height: 100%;
}
body h1 {
  font-family: "drifttyperegular";
  color: #DFD3C3;
}
body h1 .headline {
  margin-left: 10%;
}

@font-face {
  font-family: "drifttypesolid";
  src: url("../fonts/drifttype_solid-webfont.woff2") format("woff2"), url("../fonts/drifttype_solid-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "drifttyperegular";
  src: url("../fonts/drifttype-webfont.woff2") format("woff2"), url("../fonts/drifttype-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "alphawoodregular";
  src: url("../fonts/alphawood-webfont.woff2") format("woff2"), url("../fonts/alphawood-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "drifttypesolid";
  src: url("../fonts/drifttype_solid-webfont.woff2") format("woff2"), url("../fonts/drifttype_solid-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "drifttyperegular";
  src: url("../fonts/drifttype-webfont.woff2") format("woff2"), url("../fonts/drifttype-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "alphawoodregular";
  src: url("../fonts/alphawood-webfont.woff2") format("woff2"), url("../fonts/alphawood-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*header*/
header {
  height: 100vh;
}
header nav {
  width: 80%;
  margin: auto;
}
header nav ul {
  font-family: "alphawoodregular";
  font-size: 2rem;
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
header nav ul a {
  color: #C3A686;
}
header .home {
  display: flex;
  align-items: center;
  margin: 10% auto;
}
header .home .section-sign {
  max-width: 15%;
}
header .home .section-sign img {
  width: 100%;
}

/* Gestion du logo */
header .main-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-fill-mode: forwards !important;
  animation-iteration-count: 1;
}
header .main-logo-hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  opacity: 0;
}
header .main-logo-hover-open {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  animation: open-logo 2s;
  animation-fill-mode: forwards !important;
}
@keyframes open-logo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes closed-logo {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Burger menu */
.open-menu {
  position: absolute;
  /* transform: translate(20px, -730px); */
  margin: 2%;
  /* Bouton d'ouverture et fermeture du menu*/
}
.open-menu .bar1, .open-menu .bar2, .open-menu .bar3 {
  width: 35px;
  height: 1px;
  background-color: #E6E3E1;
  margin: 6px 0;
}

.close-bar1 {
  width: 35px;
  height: 1px;
  background-color: white;
  margin: 6px 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.close-bar3 {
  width: 35px;
  height: 1px;
  background-color: white;
  margin: 6px 0;
  -webkit-transform: rotate(45deg) translate(-9px, -6px);
  transform: rotate(45deg) translate(-5px, -5px);
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: black;
  /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  /* Position the content inside the overlay */
}
.overlay .overlay-content {
  position: relative;
  top: 25%;
  /* 25% from the top */
  width: 100%;
  /* 100% width */
  margin-left: 10%;
  margin-top: 30px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 0 0 3% 0;
  text-decoration: none;
  font-size: 45px;
  color: #818181;
  display: block;
  /* Display block instead of inline */
  transition: 0.3s;
  /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 2%;
  font-size: 60px;
}

/* index */
.projects {
  display: flex;
}
.projects .project-sign {
  max-width: 15%;
}
.projects .project-sign img {
  width: 100%;
}
.projects .project-cards {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.projects .project-cards .col {
  padding: 5%;
}
.projects .project-cards .col .card {
  border: none;
}

.myself {
  display: flex;
}
.myself .self-sign {
  max-width: 15%;
}
.myself .self-sign img {
  width: 100%;
}
.myself .presentation {
  display: flex;
  justify-content: space-around;
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.myself .presentation .text {
  width: 45%;
  display: flex;
  align-items: center;
}
.myself .presentation .text p {
  font-family: "drifttypesolid";
  color: #806858;
}
.myself .presentation .portrait {
  width: 45%;
}
.myself .presentation .portrait img {
  width: 100%;
}

.parcours {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.parcours .parcours-sign {
  margin-left: 25%;
  width: 25%;
}
.parcours .parcours-sign img {
  width: 100%;
}
.parcours .dates {
  width: 59%;
  margin: 15% 5% 0 auto;
  display: flex;
}
.parcours .dates img {
  width: 100%;
}

.technologies {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.technologies .techno-sign {
  margin-top: 5%;
  margin-left: 25%;
  width: 25%;
}
.technologies .techno-sign img {
  width: 100%;
}
.technologies .techno-details {
  width: 65%;
  margin: 5% 5% 0 auto;
}
.technologies .techno-details img {
  width: 100%;
}

/* footer */
footer {
  display: flex;
}
footer .contact-sign {
  max-width: 15%;
}
footer .contact-sign img {
  width: 100%;
}
footer h3 {
  font-family: "drifttypesolid";
  color: #806858;
  width: 80%;
  margin: 2% 0 0 auto;
  text-align: center;
}
footer .contact-form {
  width: 65%;
  margin: 0 2% 0 auto;
}

/*form*/
label {
  font-family: "drifttypesolid";
  color: #806858;
}

.input-contact {
  border: none;
  border-bottom: solid 2.5px;
  border-color: #806858;
  border-radius: 0;
}

.message {
  height: 150px !important;
}

#contact_send {
  font-family: "drifttypesolid";
  color: #806858;
}
#contact_send:hover {
  background-color: #806858;
  font-family: "drifttypesolid";
  color: white;
}

/*# sourceMappingURL=style.css.map */
