html {
  scroll-behavior: smooth;
}
html body {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
html body h1 {
  font-family: "drifttyperegular";
  color: #C3A686;
}
html body h1 .headline {
  margin-left: 10%;
}

@font-face {
  font-family: "drifttypesolid";
  src: url("../fonts/drifttype_solid-webfont.woff2") format("woff2"), url("../fonts/drifttype_solid-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "drifttyperegular";
  src: url("../fonts/drifttype-webfont.woff2") format("woff2"), url("../fonts/drifttype-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "alphawoodregular";
  src: url("../fonts/alphawood-webfont.woff2") format("woff2"), url("../fonts/alphawood-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "drifttypesolid";
  src: url("../fonts/drifttype_solid-webfont.woff2") format("woff2"), url("../fonts/drifttype_solid-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "drifttyperegular";
  src: url("../fonts/drifttype-webfont.woff2") format("woff2"), url("../fonts/drifttype-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "alphawoodregular";
  src: url("../fonts/alphawood-webfont.woff2") format("woff2"), url("../fonts/alphawood-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*header*/
header {
  height: auto;
  /* Burger menu */
  /* Bouton d'ouverture et fermeture du menu*/
  /* The Overlay (background) */
  /* Position the content inside the overlay */
  /* The navigation links inside the overlay */
  /* When you mouse over the navigation links, change their color */
  /* Position the close button (top right corner) */
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
}
header .open-menu {
  /* transform: translate(20px, -730px); */
  margin: 2%;
}
header .bar1, header .bar2, header .bar3 {
  width: 35px;
  height: 1px;
  margin: 9px 0;
}
header .bar1 img, header .bar2 img, header .bar3 img {
  width: 100%;
}
header .close-bar1 {
  width: 35px;
  margin: 6px 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
header .close-bar1 img {
  width: 100%;
}
header .close-bar3 {
  width: 35px;
  margin: 6px 0;
  -webkit-transform: rotate(45deg) translate(-9px, -6px);
  transform: rotate(45deg) translate(-59px, -79px);
}
header .close-bar3 img {
  width: 100%;
}
header .overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: black;
  /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}
header .overlay-content {
  position: relative;
  top: 25%;
  /* 25% from the top */
  width: 100%;
  /* 100% width */
  margin-left: 10%;
  margin-top: 30px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */
}
header .overlay a {
  padding: 0 0 3% 0;
  text-decoration: none;
  font-size: 45px;
  color: #C3A686;
  display: block;
  /* Display block instead of inline */
  transition: 0.3s;
  /* Transition effects on hover (color) */
  font-family: "alphawoodregular";
}
header .overlay a:hover, header .overlay a:focus {
  color: #806858;
}
header .overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 2%;
  font-size: 60px;
}
@media screen and (max-height: 450px) {
  header .overlay a {
    font-size: 20px;
  }
  header .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
header nav {
  width: 80%;
  margin: auto;
}
header nav ul {
  font-family: "alphawoodregular";
  font-size: 30px;
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
header nav ul a {
  color: #C3A686;
}
header nav ul a:hover {
  color: #806858;
}
header .home {
  display: flex;
  align-items: center;
  margin: 17% auto;
}
header .home .section-sign {
  max-width: 15%;
  transform: translateX(-23px);
}
header .home .section-sign .mobile-home-sign {
  display: none;
}
header .home .section-sign img {
  width: 100%;
}

/* Gestion du logo */
header .main-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-fill-mode: forwards !important;
  animation-iteration-count: 1;
}
header .main-logo-hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  opacity: 0;
}
header .main-logo-hover-open {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  animation: open-logo 2s;
  animation-fill-mode: forwards !important;
}
@keyframes open-logo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes closed-logo {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* index */
.projects {
  display: flex;
}
.projects .project-sign {
  max-width: 15%;
}
.projects .project-sign img {
  width: 100%;
}
.projects .mobile-project-sign {
  display: none;
}
.projects .project-cards {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.projects .project-cards .col {
  padding: 5%;
}
.projects .project-cards .col .card {
  border: none;
}

.myself {
  display: flex;
}
.myself .mobile-myself-sign {
  display: none;
}
.myself .self-sign {
  max-width: 15%;
}
.myself .self-sign img {
  width: 100%;
}
.myself .presentation {
  display: flex;
  justify-content: space-around;
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.myself .presentation .text {
  width: 45%;
  display: flex;
  align-items: center;
}
.myself .presentation .text p {
  font-family: "drifttypesolid";
  color: #806858;
}
.myself .presentation .portrait {
  width: 30%;
}
.myself .presentation .portrait img {
  width: 100%;
}

.parcours {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.parcours .parcours-sign {
  margin: 0 13% 0 auto;
  width: 20%;
}
.parcours .parcours-sign img {
  width: 100%;
}
.parcours .dates {
  width: 59%;
  margin: 5% auto 0 28%;
  display: flex;
}
.parcours .dates img {
  width: 100%;
}

.technologies {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.technologies .techno-sign {
  margin: 5% 5% 0 68%;
  width: 20%;
}
.technologies .techno-sign img {
  width: 100%;
}
.technologies .techno-details {
  width: 50%;
  margin: 5% 15% 0 auto;
}
.technologies .techno-details img {
  width: 100%;
}

/* footer */
.information {
  display: flex;
}
.information .contact-sign {
  max-width: 15%;
}
.information .contact-sign .mobile-contact-sign {
  display: none;
}
.information .contact-sign img {
  width: 100%;
}
.information h3 {
  font-family: "drifttypesolid";
  color: #806858;
  margin: 2% 0;
  text-align: center;
}
.information .contact-form {
  width: 80%;
  margin: 2% auto;
}
.information .contact {
  margin: 2% auto;
}

.social-medias {
  display: flex;
  justify-content: center;
}
.social-medias a {
  margin: 2%;
}
.social-medias a img {
  width: auto;
  max-height: 50px;
}

.footer hr {
  border: solid 1.5px;
  background-color: #806858;
  border-color: #806858;
}
.footer p {
  color: #806858;
  font-family: "drifttypesolid";
}

/*form*/
label {
  font-family: "drifttypesolid";
  color: #806858;
}

.input-contact {
  border: none;
  border-bottom: solid 2.5px;
  border-color: #806858;
  border-radius: 0;
}

.message {
  height: 150px !important;
}

#contact_send {
  font-family: "drifttypesolid";
  color: #806858;
}
#contact_send:hover {
  background-color: #806858;
  font-family: "drifttypesolid";
  color: white;
}

@media screen and (max-width: 960px) {
  .information {
    display: block;
  }
  .information .contact-sign {
    max-width: 22%;
    margin: 6% auto;
  }
  .information .contact-sign img {
    display: none;
  }
  .information .contact-sign .mobile-contact-sign {
    display: block !important;
  }
  .information .contact-sign .desktop-contact-sign {
    display: none !important;
  }

  .p-5 {
    padding: none !important;
  }
}
@media screen and (max-width: 960px) {
  nav {
    width: 100% !important;
    margin: auto;
  }

  .home {
    display: block !important;
    margin: 17% auto;
  }
  .home .section-sign {
    max-width: 15%;
    margin: auto;
    transform: translateX(0) !important;
  }
  .home .section-sign .desktop-home-sign {
    display: none;
  }
  .home .section-sign .mobile-home-sign {
    display: block !important;
  }
  .home .section-sign img {
    width: 100%;
  }
}
@media screen and (max-width: 960px) {
  .projects {
    display: block;
  }
  .projects .project-sign {
    max-width: 18%;
    margin: auto;
  }
  .projects .project-sign img {
    width: 100%;
  }
  .projects .mobile-project-sign {
    display: block !important;
  }
  .projects .desktop-project-sign {
    display: none;
  }

  .myself {
    display: block;
  }
  .myself .self-sign {
    margin: 2% auto;
    max-width: 18%;
  }
  .myself .self-sign .mobile-myself-sign {
    display: block !important;
    margin: auto;
  }
  .myself .self-sign .desktop-myself-sign {
    display: none;
  }
  .myself .presentation .text {
    width: 90%;
    margin: auto;
  }
  .myself .presentation .portrait {
    margin: auto;
    width: 75%;
  }

  .parcours {
    display: block;
  }
  .parcours .parcours-sign {
    margin: auto;
  }
  .parcours .dates {
    width: 90%;
    margin: 2% auto;
    object-fit: contain;
  }

  .technologies .techno-sign {
    margin: 2% auto;
  }
  .technologies .techno-details {
    margin: 2% auto;
    width: 90%;
  }
}
@media screen and (max-width: 960px) {
  .title {
    margin: 8%;
    text-align: center;
  }
  .title h1 {
    font-size: large;
  }
  .title .headline {
    margin-left: 0;
  }
}
@media screen and (max-width: 960px) {
  #contact_send {
    color: white;
    background-color: #806858;
  }
}

/*# sourceMappingURL=style.css.map */
