@media screen and (max-width: 960px){
    .projects{
        display: block;
        .project-sign{
            max-width: 18%;
            margin: auto;
            img{
                width: 100%;
            }
        }
        .mobile-project-sign{
            display: block!important;
        }
        .desktop-project-sign{
            display: none;
        }
    }
    .myself{
        display: block;
            .self-sign{
                margin: 2% auto;
                max-width: 18%;
                .mobile-myself-sign{
                    display: block!important;
                    margin: auto;
                }
                .desktop-myself-sign{
                    display: none;
                }
            }
            .presentation{
                .text{
                    width: 90%;
                    margin: auto;
                }
                .portrait{
                margin: auto;
                width: 100%;
                display: flex;
                justify-content: center;
                img{
                    width: 40%;
                }
                }
            }
    }
    .parcours{
        display: block;
        .parcours-sign{
            margin: auto;
        }
        .dates{
            width: 80%;
            margin: 2% auto;
            object-fit: contain;
        }
    }
    .technologies{
        .techno-sign{
            margin: 2% auto;
        }
        .techno-details{
            margin: 2% auto;
            width: 90%;
        }
    }
}