@media screen and (max-width:960px){
    .projects{
        display: block;
        .project-sign{
            max-width: 15%;
            margin: auto;
            img{
                width: 100%;
            }
        }
        .mobile-project-sign{
            display: block!important;
        }
        .desktop-project-sign{
            display: none;
        }
    }
}