@import "../utils/variables";

@media screen and (max-width: 960px){
    nav{
        width: 100%!important;
        margin: auto;
    }
    .home{
        display: block!important;
        margin: 17% auto;
        .section-sign{
            max-width: 15%;
            margin: auto;
            transform: translateX(0)!important;
            .desktop-home-sign{
                display: none;
            }
            .mobile-home-sign{
                display: block!important;
            }
            img{
                width: 100%;
            }
        }
    }
}